
  <nav class="navbar  navbar-light bg-secondary text-center">
    <h1 class="text-light text-center font-weight-bold">Dashboard</h1>  
  </nav>
  <div class="mx-5 my-3">
    <p>Welcome To admin page Stone-Scissors-Paper game</p>
  <p>Manually CRUD (Create, Read, and, Delete) database game.</p>
  </div>


